.modal-dialog.modal-xl {
  max-width: 900px;
}

.modal-content {
  border-radius: 20px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.modal-header {
  border-bottom: none;
  justify-content: center;
  background-color: #AD0000;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}



input.form-control,
textarea.form-control,
select.form-control,
.custom-input,
input[type="text"],
input[type="date"],
input[type="time"] {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #AD0000;
  box-shadow: 0 0 0 2px rgba(233, 30, 99, 0.2);
}

label.form-label {
  color: #AD0000;
  font-weight: 600;
}

.modal-footer .btn-danger {
  background-color: #AD0000;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  padding: 8px 30px;
}

.modal-body form {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.fc-event,
.fc-daygrid-event,
.fc-timegrid-event {
  cursor: pointer;
}
