<full-calendar [options]="calendarOptions"></full-calendar>

@if (mostrarFormulario) {
  <app-event
    [fechaPreseleccionada]="fechaSeleccionada"
    [eventoSeleccionado]="eventoSeleccionado!"
    (eventoGuardado)="agregarOActualizarEvento($event)"
    (eventoEditado)="agregarOActualizarEvento($event)"
    (cerrarFormulario)="cerrarFormulario()"
    (sesionEliminada)="eliminarSesionDelCalendario($event)"
    (limpiarEventoSeleccionado)="eventoSeleccionado = null"
  ></app-event>
}

@if (mostrarModalAcciones) {
  <app-event-modal
    [evento]="eventoSeleccionado"
    (accionSeleccionada)="
      onAccionSeleccionada($event);
      cerrarModalAcciones()"
    (cerrar)="cerrarModalAcciones()">
  </app-event-modal>
}

@if (mostrarAsistencia && tipoAsistencia === 'normal') {
  <app-asistencia
    [evento]="eventoSeleccionado"
    (cerrar)="cerrarAsistencia()"
  ></app-asistencia>
}

@if (mostrarAsistencia && tipoAsistencia === 'fotografica') {
  <app-asistencia-fotografica
    [evento]="eventoSeleccionado"
    (cerrar)="cerrarAsistencia()"
  ></app-asistencia-fotografica>
}
