<full-calendar [options]="calendarOptions"></full-calendar>

@if (mostrarFormulario) {
  <app-event
    [fechaPreseleccionada]="fechaSeleccionada"
    [eventoSeleccionado]="eventoSeleccionado"
    (eventoGuardado)="agregarOActualizarEvento($event)"
    (eventoEditado)="agregarOActualizarEvento($event)"
    (cerrarFormulario)="mostrarFormulario = false; eventoSeleccionado = null"
    (sesionEliminada)="eliminarSesionDelCalendario($event)"
    (limpiarEventoSeleccionado)="eventoSeleccionado = null"
  ></app-event>
}

@if (mostrarModalAcciones) {
  <app-event-modal
    [evento]="eventoSeleccionado"
    (accionSeleccionada)="
      onAccionSeleccionada($event);
      mostrarModalAcciones = false;"
    (cerrar)="mostrarModalAcciones = false">
  </app-event-modal>
}
@if (mostrarAsistencia) {
  <app-asistencia
    [evento]="eventoSeleccionado"
    (cerrar)="mostrarAsistencia = false"
  ></app-asistencia>
}
